/* Larger Desktop or Tv Responsive Css Start */
@media (min-width: 1400px) {

}
/* //Larger Desktop or Tv Responsive Css End */

/* Desktop or Tv Responsive Css Start */
@media (min-width: 992px) and (max-width: 1199.98px) {
   .section-header h2 {
      font-size: 34px;
   }.slider-icon.fa-chevron-left {
      left: -13px;
      top: 100px;
   }
   .slider-icon.fa-chevron-right {
      right: -10px;
      top: 100px;
   }





   #main-menu ul li a {
      font-size: 16px;
   }
   #banner .banner-content h1 {
      font-size: 43px;
      line-height: 50px;
   }
   #banner .banner-content img {
      height: 520px;
      width: 415px;
      padding-top: 35px;
   }
   #banner .banner-content p {
      font-size: 18px;
   }
   #banner .banner-content::after {
      height: 80px;
      width: 80px;
      top: 114px;
      left: 0px;
   }
   .navbar-right .cs-button {
      font-size: 12px;
      padding: 10px;
   }
   .navbar-right .user-button {
      padding: 7px;
      margin-left: 8px;
   }
   #banner .banner-text form .location {
      width: 163px;
      margin-right: 12px;
      font-size: 13px;
   }
   #banner .banner-text form .institute {
      width: 295px;
      margin-right: 12px;
      font-size: 13px;
   }
   #banner .banner-content::before {
      background-size: cover;
      height: 151px;
      width: 150px;
      top: 360px;
      left: 505px;
   }





   #user-counter {
      height: 120px;
      padding-top: 28px;
   }
   #user-counter .col-3::before {
      border-right: 3px solid var(--clr-16);
      height: 120px;
      top: -28px;
      left: 0;
   }




   #about {
      margin-top: 100px;
   }
   #about img {
      height: 380px;
      width: 490px;
   }
   #about .about-head p {
      margin-bottom: 15px;
   }
   #about .about-head h2 {
      margin-bottom: 30px;
   }
   #about .about-content .information-content h5 {
      padding-bottom: 25px;
   }
   #about .about-content p {
      font-size: 12px;
      padding-bottom: 15px;
   }



   
   #programs {
      margin-top: 100px;
   }

   #destination{
      margin-top: 100px;
   }

   #Subject{
      margin-top: 100px;
   }


   #consultant {
      height: 325px;;
      margin-top: 100px;
   }
   #consultant .consultant-text {
      width: 400px;
      padding-top: 50px;
   }
   .section-header h2 {
      padding-bottom: 25px;
   }
   #consultant .consultant-content p {
      font-size: 21px;
      padding-bottom: 25px;
   }




   #country {
      margin-top: 100px;
   }
   .country-content ul li {
      padding: 7px 0;
   }



   #subscribe {
      height: 380px;
      margin-top: 100px;
   }
   #subscribe .subscribe-content {
      margin-top: 55px;
   }




   #scholarships {
      margin-top: 100px;
   }
   #scholarships .scholarships-content img {
      margin-bottom: 15px;
   }
   #scholarships .scholarships-content p {
      font-size: 14px;
      margin: 10px 0 5px 0;
   }



   #brand {
      margin-top: 100px;
   }
   #brand .brand-content {
      margin: 0 7px;
   }
   #brand .brand-content img {
      margin: 20px 30px;
   }
   #brand .brand-slider-icon.fa-chevron-left {
      left: -23px;
      top: 45px;
   }
   #brand .brand-slider-icon.fa-chevron-right {
      right: -19px;
      top: 45px;
   }




   #reviews {
      margin-top: 100px;
   }




   #footer {
      height: 320px;
      margin-top: 100px;
   }
   #footer .footer-header h3 {
      font-size: 19px;
      padding-top: 70px;
   }
   #footer .footer-content ul li {
      padding: 6px 0;
   }
   #footer .footer-content ul li a {
      font-size: 17px;
   }


}
/* //Desktop or Tv Responsive Css End */

/*Table Responsive Css Start */
@media (min-width: 768px) and (max-width: 991.98px) {

}
/* //Table Responsive Css End */


/*Landscape Phone Responsive Css Start */
@media (max-width: 425.98px) {
   /*common css start*/

   .information-content h5{
      font-size: 16px;
      font-weight: 600;
      padding: 10px 0;
   }
   .information-content img{
      padding: 0 30px;
   }
   .information-content{
      padding: 0 15px;
      margin-left: 0;
   }
   .section-header h2 {
      font-size: 18px;
      padding-bottom: 15px;
   }

   /*slider css start*/
   .slider-icon.fa-chevron-left {
      left: 10px;
      top: 85px;
   }
   .slider-icon.fa-chevron-right {
      right: 10px;
      top: 85px;
   }
   .slider-icon {
      width: 35px;
      height: 35px;
      padding: 12px;
      font-size: 13px;
      }
   /*slider css end*/

   /*common css end*/

   /*nav section start*/
   .navbar{
      height: 50px;
   }
   .navbar-brand{
      width: 115px;
   }
   .navbar-expand-lg{
      padding: 0;
   }
   .navbar-right{
      display: none;
   }
   /*nav section end*/

   /*banner section start*/
   #banner .banner-content h1 {
      font-size: 20px;
      line-height: 30px;
   }
   #banner .banner-content p {
      font-size: 9px;
      line-height: 20px;
      padding: 5px 0;
   }
   #banner .banner-text{
      padding-bottom: 20px;
   }
   #banner form small{
      display: none;
   }
   #banner .banner-text form .location {
      font-size: 12px;
      height: 30px;
      width: 65px;
      margin-right: 5px;
      margin-left: 12px;
   }
   #banner .banner-text form .institute{
      font-size: 12px;
      height: 30px;
      width: 120px;
      margin-right: 5px;
   }
   #banner .banner-text form button{
      font-size: 14px;
      height: 30px;
      width: 40px;
   }
   #banner .banner-content img {
      display: none;
   }
   #banner::before {
      top: 0px;
   }
   #banner .banner-content::after {
      content: '';
      position: absolute;
      border: 1px solid transparent;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      top: -3px;
      left: 4px;
      background-color: var(--clr-hover);
      z-index: -1;
   }
   #banner::after {
      height: 550px;
      transform: rotate(136deg)
   }
   /*banner section end*/
   
   /*user-counter section start*/
   #user-counter{
      height: 60px;
      padding-top: 5px;
   }
   #user-counter p{
   font-size: 9px;
   }
   #user-counter h2{
   font-size: 18px;
   }
   #user-counter .col-3::before {
      height: 60px;
      top: -5px;
      border-right: 2px solid var(--clr-16);
   }
   /*user-counter section end*/

   /*about section start*/
   #about{
       margin-top: 40px;
   }
   #about img {
      display: none
   }
   #about .about-head p{
      font-size: 8px;
      margin-bottom: 5px;
   }
   #about .about-head h2 {
      margin-bottom: 0px;
   }
   #about .about-head p {
      font-size: 8px;
      margin-bottom: -10px;
   }
   #about .about-content .information-content h5 {
      padding-bottom: 10px;
   }
   #about .about-content .fas {
      height: 40px;
      width: 40px;
      font-size: 14px;
  }
  #about .about-head p{
      font-size: 9px;
      margin-bottom: 5px;
   }
   /*about section end*/

   /*programs section start*/
   #programs{
      margin-top: 40px;
   }
   /*programs section end*/

   /*destination section start*/
   #destination{
      margin-top: 40px;
   }
   /*destination section end*/

   /*Subject section start*/
   #Subject{
      margin-top: 40px;
   }
   /*Subject section end*/

   /*consultant section start*/
   #consultant{
      height: 270px;
      margin-top: 40px;
   }
   #consultant .consultant-content p {
      font-size: 12px;
      padding: 0 55px 45px 0; 
   }
   #consultant .consultant-text{
      width: 300px;
      padding: 60px 0;
   }
   #consultant .cs-button {
      font-size: 11px;
      height: 35px;
      width: 130px;
   }
   /*consultant section end*/

   /*country section start*/
   #country .country-content h3 {
      font-size: 13px;
   }
   #country .country-content h5 {
      font-size: 12px;
      line-height: 1;
   }
   /*country section end*/

   /*subscribe section start*/
   #subscribe{
      height: 270px;
      margin-top: 40px;
      background-image: url(../images/newsletter_thumb.png);
      background-size: 150px 150px;
   }
   #subscribe .subscribe-img{
      display: none;
   }
   #subscribe .subscribe-content{
       margin-top: 40px;
   }
   #subscribe .subscribe-content p{
      font-size: 12px;
      padding-bottom: 20px;
   }
   #subscribe .form-control {
      width: 200px;
      height: 35px;
      font-size: 12px;
      margin-bottom: 15px;
   }
   #subscribe .subscribe-button {
      height: 35px;
      width: 200px;
   }
   /*subscribe section end*/

   /*brand section start*/
   #brand{
      margin-top: 40px;
   }
   
   .brand-slider-icon.fa-chevron-left {
      left: -5px;
      top: 55px;
   }
   .brand-slider-icon.fa-chevron-right {
      right: -5px;
      top: 55px;
   }
   /*brand section end*/

   /*footer section start*/
   #footer {
      height: 565px;
      margin-top: 40px;
   }
   #footer .footer-header h3 {
    font-size: 18px;
    padding-top: 30px;
   }
   #footer .footer-content {
      padding-top: 10px;
   }
   #footer .footer-content ul li a {
      font-size: 14px;
   }
   #footer .footer-content ul li {
      padding: 3px 0;
   }
   .ftr-sub{
      padding-bottom: 40px;
   }
   /*footer section end*/
}
/* //Landscape Phone Responsive Css End */


/*Landscape Phone Responsive Css Start */
@media (max-width:575.98px) {
}
/* //Landscape Phone Responsive Css End */


@media (min-width:320px) and (max-width:991px){
   #main-menu{
      background-color: #fff;
   }
   #main-menu ul li a{
      color: #000;
   }
}